<footer class="bg-color" style="padding:10px 0px">
  <div class="container center-align">
    <div class="col s12 m4 l4 social-link">
      <%- partial('_partial/social-link') %>
    </div>
    <div class="col s12 m8 l8 copy-right">
      <div>
        <span class="white-color">Copyright©2016-2019</span>&nbsp;|&nbsp;
        <span class="white-color">Jaye Huang</span>&nbsp;|&nbsp;
        <a
          target="_blank"
          href="http://beian.miit.gov.cn"
          rel="noopener"
          onMouseOver="this.style.textDecoration='underline'"
          onMouseOut="this.style.textDecoration='none'"
          >&nbsp;鄂ICP备18006161号-1</a
        >&nbsp;|&nbsp; <% if (theme.wordCount.enable &&
        theme.wordCount.totalCount) { %>
        <span class="white-color"><%= totalcount(site) %></span> <% } %>
      </div>
    </div>
  </div>
</footer>

<div class="progress-bar"></div>
