<footer class="bg-color" style="padding:10px 0px">
  <div class="container center-align">
    <div class="col s12 m4 l4 social-link">
      <%- partial('_partial/social-link') %>
    </div>
    <div class="col s12 m8 l8 copy-right">
      <div>
        Copyright©<span class="white-color">2016-2019</span>
        <span class="white-color">&nbsp;Jay Yang</span>
        <% if (theme.wordCount.enable && theme.wordCount.totalCount) { %>
        <span class="white-color"><%= totalcount(site) %></span>&nbsp; <% } %>
        <a
          target="_blank"
          href="http://www.miitbeian.gov.cn"
          rel="noopener"
          onMouseOver="this.style.color='#000'"
          onMouseOut="this.style.color='#FFF'"
          >&nbsp;鄂ICP备18006161号-1</a
        >
      </div>
    </div>
  </div>
</footer>

<div class="progress-bar"></div>
