<%
var featureimg = '';
if (page.img) {
    featureimg = page.img;
} else {
    featureimg = "http://test.jayehuang.com/images/featureimages/" + Math.floor(Math.random() * 101) + ".jpg";
}
%>

<div class="bg-cover pd-header post-cover" style="background-image: url('<%- featureimg %>')">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="brand">
                    <div class="description center-align post-title">
                        <%= page.title %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>